body {
	text-align: center;
}

.game {
	border: 5px solid black;
	border-radius: 5px;
    background: #ccffcc;
	width: 600px;
	margin: 0 auto 0 auto;
	padding-bottom: 20px;
    background-clip: padding-box;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.maingame {
	width:275px;
	padding:15px;
	margin:0px auto;
}

#past-guess {
	display: none;
}

p .message {
	display:none;
}
